a,
button,
.btn,
input[type=submit],
input[type=reset] {
    border-radius: var(--radius);

    font-weight: 500;

    display: inline-flex;
    align-items: center;
    justify-content: center;
    gap: var(--space-xs);
}

button,
.btn,
input[type=submit],
input[type=reset] {
    --_padding-inline: 1.25rem;
    --_padding-block: 0.725rem;

    padding: var(--_padding-block) var(--_padding-inline);

    min-width: 10ch;
    min-height: 5ch;

    cursor: pointer;
}

a:focus-visible,
button:focus-visible,
.btn:focus-visible,
input[type=submit]:focus-visible,
input[type=reset]:focus-visible {
    box-shadow: 0px 0px 0px 4px hsl(var(--background)), 0px 0px 0px 5px hsl(var(--foreground) / var(--_outline-opacity, 1));
}

.underline-hover-effect {
    position: relative;
}

.underline-hover-effect::before {
    content: "";

    position: absolute;

    width: 100%;
    height: 0.125em;

    top: 100%;
    left: 0;

    transform: scaleX(var(--_scaleX , 0));
    transform-origin: top right;

    background-color: hsl(var(--foreground));

    will-change: transform;
    transition: transform var(--transition-duration, 250ms) ease-in;
}

.underline-hover-effect:hover::before {
    --_scaleX: 1;
    transform-origin: top left;
}

button.icon,
.btn.icon,
input[type=submit].icon,
input[type=reset].icon {
    min-width: auto;
    min-height: auto;

    width: 32px;
    height: 32px;

    padding: 6px;
}
