@import "./root.css";
@import "./resets.css";
@import "./text.css";
@import "./button.css";
@import "./utilities.css";

body {
  font-family: system-ui, -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto,
    Oxygen, Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;

  line-height: 1.5;
}

.profile-img {
  border-radius: 50%;
}

blockquote {
  font-style: italic;
}

blockquote > p:before {
  content: "“";
}
blockquote > p:after {
  content: "”";
}

/* === header === */
.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: var(--space-lg);

  padding-block: 1rem;

  --_shadow-color: var(--accent);
}

.header nav ul {
  display: flex;
  gap: var(--space-lg);
  align-items: center;
}

/* === main === */
main section {
  padding-block: var(--space-xl);

  min-height: 100dvh;
}

#hero-section {
  display: flex;

  flex-direction: column;

  gap: var(--space-lg);
}

@media only screen and (min-width: 820px) {
  #hero-section {
    flex-direction: row;
    align-items: center;
  }

  .image-container {
    flex-grow: 1;
  }
}

.heading {
  grid-area: heading;
}

@media only screen and (min-width: 820px) {
  .heading {
    margin-bottom: var(--space-md);
  }
}

.description {
  grid-area: description;

  width: min(100%, var(--max-section-description-width));
}

.image-container {
  grid-area: img;

  position: relative;

  width: clamp(20em, 100%, 60em);
  aspect-ratio: 3/4;
}

.image-container [data-slideshow] {
  position: relative;

  border-width: 4px;
  border-style: solid;

  overflow: hidden;

  width: 100%;
  height: 100%;

  box-shadow: 0px 0px 2px 2px hsl(var(--accent) / 0.25) inset, 0px 0px 4px 4px hsl(var(--accnet) / 0.125) inset;
}

.image-container [data-slideshow] [data-slideshow-content] {
  position: absolute;

  top: 0;
  left: 0;

  width: 100%;
  height: 100%;

  will-change: opacity, visibility;

  transition-property: opacity, visibility;
  transition-duration: var(--transition-duration, 250ms);
  transition-timing-function: ease-in-out;
}

.image-container [data-slideshow] [data-slideshow-content] img {
  width: 100%;
  height: 100%;
}

.image-container [data-slideshow] [data-slideshow-content]:not([data-slideshow-content=current]) {
  opacity: 0;
  visibility: hidden;
}

.cta {
  --_transition-duration: var(--transition-duration, 250ms);

  position: relative;

  margin-top: var(--space-md);

  will-change: padding-right;
  transition-property: padding-right;
  transition-duration: var(--_transition-duration);
  transition-timing-function: ease-in;
}

.cta::before {
  content: "»";

  position: absolute;

  right: 0.5rem;
  top: 0;

  opacity: var(--_opacity, 0);
  transform: translate3d(var(--_x, -10%), var(--_y, 12.5%), var(--_z, 0));

  font-size: 1.5rem;

  will-change: opacity, transform;
  transition-property: opacity, transform;

  transition-duration: var(--_transition-duration);
  transition-timing-function: ease-in;
}

.cta:hover {
  padding-right: calc(var(--_padding-inline) + var(--_padding-inline) * 0.5);
}

.cta:hover::before {
  --_x: 0;
  --_opacity: 1;
}

#feature-section-description {
  display: grid;
  gap: var(--space-xl);

  justify-items: center;
}

@media only screen and (min-width: 820px) {
  #feature-section-description {
    grid-template-columns: 1fr 1fr 1fr;
  }
}

#feature-section-description p {
  margin-block: 0;
}

section:not(#hero-section) .heading {
  text-align: center;
}

.card {
  display: flex;
  flex-direction: column;
  gap: var(--space-xs);
}

.card figure {
  display: flex;
  flex-direction: column;
  gap: var(--space-sm);
}

.card figure figcaption {
  font-weight: 700;
}

#testimonials-section-description {
  display: grid;

  gap: var(--space-lg);

  grid-template-columns: 1fr;
}

@media only screen and (min-width: 769px) {
  #testimonials-section-description {
    grid-template-columns: 1fr 1fr;
  }
}

.testimonial {
  --_shadow-color: 0 0% 0%;

  padding: 1.025em 1.25em;
}

.testimonial-header {
  display: flex;
  gap: var(--space-xs);

  align-items: center;
}

/* === footer === */

body > footer {
  margin-top: var(--space-lg);
}

.main-footer {
  display: grid;
  gap: var(--space-lg);
  grid-template-columns: 1fr;

  padding-block: var(--padding-inline);
}

@media only screen and (min-width: 820px) {
  .main-footer {
    grid-template-columns: 1fr 1fr;
  }
}

@media only screen and (min-width: 1042px) {
  .main-footer {
    grid-template-columns: 2fr 1fr 1fr 1fr;
  }
}

.main-footer-section nav {
  margin-top: var(--space-md);
}

.main-footer-section nav ul {
  display: flex;
  gap: var(--space-lg);
}

svg {
  width: 20px;
  height: 20px;
}

.footer-section nav ul li {
  margin-top: var(--space-xs);
}

.theme-btn-wrapper {
  position: fixed;

  bottom: 0;
  right: 0;

  margin-right: 1rem;
  margin-bottom: 1rem;
}

.theme-btn-container {
  position: relative;

  --_shadow-color: 0 0% 0%;
}

.dropdown-menu-theme {
  position: absolute;

  bottom: 130%;
  right: 0;

  opacity: 0;
  visibility: hidden;
  transform: translate3d(var(--_x, 0), var(--_y, 10%), var(--_z, 0)) scale(var(--_scale, 0.95));

  will-change: opacity, visibility, transform;
  transition-property: opacity, visibility, transform;
  transition-duration: var(--transition-duration, 250ms);
  transition-timing-function: ease;
}

.dropdown-menu-theme[aria-hidden="false"] {
  opacity: 1;
  visibility: initial;

  --_y: 0;
  --_scale: 1;
}

.dropdown-menu-theme button {
  will-change: background-color, color, opacity;
  transition: background-color, color, opacity;
  transition-duration: var(--transition-duration, 250ms);
  transition-timing-function: ease-in;

  width: 100%;

  justify-content: flex-start;

  background-color: hsl(var(--accent) / var(--_bg-opacity, 0));
  opacity: 0.75;
}

.dropdown-menu-theme button:hover {
  --_bg-opacity: 0.75;
}

.dropdown-menu-theme button[data-selected=true] {
  color: hsl(var(--accent-foreground) / var(--_text-opacity, 1));
  --_bg-opacity: 1;
  opacity: 1;
}
